mixin meta(title, description, href)
  doctype html
  html

    head
      meta(charset='utf-8')
      title= title
      meta(name='description' content= description)
      meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
      meta(name='google-site-verification' content='PFD058kE60WP7JXowo6ain930OAmdWOGSKW0afbB4ow')

      link(rel='canonical' href= href)
      link(rel='alternate' type='application/rss+xml' title='RSS Feed' href='http://feeds.feedburner.com/movimentoux')
      link(rel='icon' href='/img/favicon.png')

      meta(property='og:type' content='website')
      meta(property='og:title' content= title)
      meta(property='og:description' content= description)
      meta(property='og:image' content='http://movimentoux.com/img/share.png')
      meta(property='og:url' content= href)

      meta(itemprop='name' content= title)
      meta(itemprop='description' content= description)
      meta(itemprop='image' content='http://movimentoux.com/img/share.png')
      meta(itemprop='url' content= href)

      meta(name='twitter:card' content='summary')
      meta(name='twitter:title' content= title)
      meta(name='twitter:description' content= description)
      meta(name='twitter:image' content='http://movimentoux.com/img/share.png')

      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,500,700')
      link(rel='stylesheet' href= 'https://cdnjs.cloudflare.com/ajax/libs/flickity/2.1.2/flickity.min.css')
      link(rel='stylesheet' href= '/css/main.min.css')
      link(rel='author' href='/humans.txt')
      
      //- Google Tag Manager
      script.
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PJ7GNKQ');
