mixin episode-section(speaker, description, keywords, number, image, url, variantClass, part, link, standalone)
  section.intro-section.-episode(class= variantClass)
    .episode-cover
      .cover
        if variantClass == '-inside'
          img(src='/assets/img/perfil/' + image alt='Fotografia de ' + speaker)
        else
          img(src='/assets/img/perfil/' + image alt='Fotografia de ' + speaker)
          //- a(href= url title='Ir para episódio').play-badge
            //- img(src='/assets/img/ui/play.svg')
    .text
      h2.header= speaker
        if part
          span.part= part
      p.description= description
      span.keywords= keywords
      if variantClass == '-inside'
        if standalone == 'standalone'
          p 
        else
          a(href=link title="Ouvir episódio" target='_blank' rel='noopener').btn.-episode Ouvir episódio
      if variantClass == '-snap'
        if standalone == 'standalone'
          a(href=url title="Ler mais").btn.-episode Ouvir episódio
        else
          a(href=link title="Ouvir episódio" target='_blank' rel='noopener').btn.-episode Ouvir episódio
          a(href=url title="Ler mais").btn.-episode.-secondary Ler mais
    span.number= number
