mixin episode(speaker, description, keywords, number, image, url, variantInside, part)
  section(class= variantInside).intro-episode
    .episode-cover
      .cover
        if variantInside
          img(src='/assets/img/perfil/' + image alt='Fotografia de ' + speaker)
        else
          a(href= url title='Ir para episódio').play-badge
            img(src='/assets/img/perfil/' + image alt='Fotografia de ' + speaker)
            svg(src='/assets/img/ui/play.svg')
    .text
      h2.header= speaker
        if part
          span.part= part
      p.description= description
      span.keywords= keywords
    span.number= number
