mixin episode(speaker, description, keywords, number, image, url, variantInside)
  section(class= variantInside).intro-episode
    if variantInside == '-inside'
      .episode-cover
        .cover
          img(src='/_assets/img/perfil/' + image alt='Fotografia de ' + speaker)
      .text
        h2.title= speaker
        p.keywords= description
        p.keywords= keywords
      span.number= number
    else
      .episode-cover
        .cover
          a(href= url title='Ir para episódio').play-badge
            img(src='/_assets/img/perfil/' + image alt='Fotografia de ' + speaker)
            svg(src='/_assets/img/ui/play.svg')
      .text
        h2.title= speaker
        p.keywords= description
        p.keywords= keywords
      span.number= number
